<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      PROYECTO FINAL SD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row>
      <ion-col class="ion-margin">
        <ion-card>
          <ion-card-header color="secondary">
            Integrantes:
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Andres Florez, Richard Agudelo, Daniel Pinto | Copyright © Todos los derechos reservados
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <ion-button color="secondary" expand="full" (click)="nextPage()">
      <ion-icon name="play-outline"></ion-icon>
      Iniciar
    </ion-button>
  </div>
</ion-content>